<%- layout('base.ejs')%>
<script src="/libs/tinymce/tinymce.min.js"></script>
<script src="/libs/angular-ui-tinymce/src/tinymce.js"></script>
<script src="/javascripts/utils.js"></script>
<script src="/javascripts/admin.js"></script>
<script src="/javascripts/directives/news_element.js"></script>
<link rel="stylesheet" href="/stylesheets/index.css">
<link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css"></link>


<div ng-app="admin" ng-controller="Admin">
	 <h4>Добро пожаловать в админку</h4>
	 <hr>

	<div ng-repeat="theme in themes" class="admin-each-theme">
		<a class="admin-label" href="/{{ theme.userlabel }}">
			<span type="text">
				<span>{{ theme.name }}</span>
				<span> \\\ </span>
				<span>{{ theme.userlabel }}</span>
			</span>
		</a>
		<span ng-click="loadDataToUpdate(theme, 'theme')">Загрузить данные темы</span>
		Туры
		<div class="tours">
			<div ng-repeat="tour in theme.tours">
				<a class="admin-label" href="/{{ theme.userlabel }}/{{ tour.userlabel }}">
					<span>
						<span>{{ tour.name }}</span>
						<span> \\\ </span>
						<span>{{ tour.userlabel }}</span>
					</span>
				</a>
				<span ng-click="loadDataToUpdate(tour, 'tour')">Загрузить данные тура</span>
			</div>
		</div>
		<hr>
	</div>

	<h4>Добавляем тему</h4>

	Название
	<input type="text" ng-model="newtheme.name">
	Изображение URL
	<input type="text" ng-model="newtheme.image">
	Видимое в URL название( Лат. )
	<input type="text" ng-model="newtheme.userlabel">
	<button ng-click="add('theme', newtheme)">Add theme</button>
	<button ng-show="updateButtonTheme" ng-click="update('theme', newtheme)">Сохранить изменения в схеме</button>

	<hr>
	<hr>
	<hr>
	<hr>

	<h4>Добавить Тур</h4>

	Название
	<input type="text" ng-model="newtour.name">
	Изображение
	<input type="text" ng-model="newtour.image">
	User Label
	<input type="text" ng-model="newtour.userlabel">
	Выберите тему
	<select ng-model="newtour.theme" ng-options="t.userlabel as t.name for t in themes"></select>
	<hr>
	<hr>
	<textarea ui-tinymce ng-model="newtour.content"></textarea>
	<button ng-click="add('tour', newtour)">Add Tour</button>
	<button ng-show="updateButtonTour" ng-click="update('tour', newtour)">Сохранить изменения в туре</button>

	<hr>
	<hr>
	<hr>
	<hr>
	<hr>
	<hr>
	<hr>
	<hr>


</div>

<style>
	.subthemes, .tours {
		border-left : 3px solid blue;
		padding: 2px 10px;
	}
	.subthemes > div {
		border : 1px solid rgba(0,0,0,.3);
		margin-bottom: 5px;
		padding: 2px;
	}
	.subthemes > div:hover {
		background-color: rgba(0,0,0,.3);
	}
	.admin-each-theme {
		margin-bottom: 10px;
	}
	span[ng-click] {
		text-decoration: underline;
	}
	span[ng-click]:hover {
		color: blue;
	}
	.admin-label {
		margin-bottom: 10px;
		display: inline-block;
	}
</style>

<script>
	window.themes = <%- JSON.stringify(themes) %>;
	window.tours = <%- JSON.stringify(tours) %>;

</script>