<footer>
	<span>
		<a href="http://web-terror.com" target="_blank">
			<p class="AT">Разработка сайта</p>
			<p class="WT">ВЕБ ТЕРРОР</p>
			<p class="ST">студия</p>
		</a>
	</span>	
</footer>

<style>
	footer {
		clear: both;
		background-color: #222;
		height: 100px;
		line-height: 100px;
		text-align: center;
	}
	footer a {
		color: white;
		text-decoration: none;
	}
	footer span {
		display: inline-block;
		vertical-align: middle;
		line-height: 30px;
	}
	footer span .WT {
		font-weight: 700;
		font-size: 18px;
		height: 18px;
		line-height: 18px;
	}
	footer span .ST, footer span .AT {
		font-weight: 300;
		font-size: 14px;
		height: 14px;
		line-height: 14px;
	}
	footer span .AT {
		height: 20px;
		line-height: 20px;
		margin-bottom: 6px;
	}
	footer span p {
		font-family: 'Roboto Condensed';
		padding: 0;
		margin: 0;
	}
</style>