<footer>
	<span>
		<a href="http://web-terror.com" target="_blank">
			<p class="top">Разработка сайта</p>
			<p class="webterror">ВЕБ ТЕРРОР</p>
			<p class="bottom">студия</p>
		</a>
	</span>	
</footer>
<link rel="stylesheet" href="/stylesheets/footer.css">