<header>
	<a href="/">
		<div class="logo"></div>
	</a>
	<div class="info">
		<span>
			<p>+7 909 6952723</p>
			<p>molo4nik11@gmail.com</p>
		</span>
		</div>
</header>


<style>
	header {
		height: 140px;
		line-height: 140px;
		position: relative;
		/*background-color: #222;*/
	}
	.logo {
		float: left;
		position: absolute;
		background-image: url('images/et_logo.jpg');
		background-size: 100%;
		background-position: center;
		left : 50%;
		line-height: 100px;
		text-align: center;
		top: 20px;
		width: 200px;
		height: 100px;
		padding: 0px 10px;
		margin-left: -100px;
	}
	.info {
		float: right;
	}
	.info span {
		line-height: 25px;
		display: inline-block;
		vertical-align: middle;
		padding: 0px 10px;
		text-align: right;
		
	}
</style>

