<header>
	<a href="/">
		<div class="logo"></div>
	</a>
	<div class="info">
		<span>
			<p>Контакты</p>
			<p><b>8 495 6264342</b></p>
			<p><b>info@tour-eco.ru</b></p>
		</span>
		</div>
</header>
<link rel="stylesheet" href="/stylesheets/header.css">
