<header>
	<a href="/">
		<div class="logo">LOGO</div>
	</a>
	<div class="info">
		<span>
			<p>+7 909 6952723</p>
			<p>molo4nik11@gmail.com</p>
		</span>
		</div>
</header>


<style>
	header {
		height: 140px;
		line-height: 140px;
		position: relative;
	}
	.logo {
		float: left;
		position: absolute;
		background-color: #1BAD58;
		left : 50%;
		line-height: 100px;
		text-align: center;
		top: 25px;
		width: 100px;
		height: 100px;
		padding: 0px 10px;
		margin-left: -50px;
	}
	.info {
		float: right;
	}
	.info span {
		line-height: 25px;
		display: inline-block;
		vertical-align: middle;
		padding: 0px 10px;
		text-align: right;
		
	}
</style>

