<%- layout('base.ejs') %>
<% block('title', 'Главная страница') -%>
<script src="/javascripts/utils.js"></script>
<script src="/javascripts/index_page.js"></script>
<link rel="stylesheet" href="/stylesheets/index.css">
<div class="themes-list-items"></div>

<script>
	window.data_ = <%- JSON.stringify(themes) %>;
</script>

