<%- layout('base.ejs') %>
<% block('title', 'Главная страница') -%>
<script src="/javascripts/tour.js"></script>
<link rel="stylesheet" href="/stylesheets/index.css">
<div ng-app="index" ng-controller="Tour" ng-init="init()">	

	<h4><%= tour.title %></h4>
	<div ng-bind-html="tour.content">
	</div>
</div>

<script>
	window.tour = <%- JSON.stringify(tour) %>;
</script>