html, body {
	padding: 0;
	margin: 0;
}
*[class*=-list-items] {
	width: 80%;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}

.each-theme {
	width: 50%;
	float: left;
	height: 200px;
	line-height: 200px;
	opacity: 0;
	-webkit-transition: opacity 0.8s;
	-moz-transition: opacity 0.8s;
	transition: opacity 0.8s;
}
.t-wrapper {
	padding: 5px;
	width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.bg {
	position: relative;
	background-size: cover;
	height: 100%;
	overflow: hidden;
	background-position: center center;
	-webkit-transition: background-size 0.4s;
	-moz-transition: background-size 0.4s;
	transition: background-size 0.4s;
}
.fader {
	text-align: center;
	background-color: rgba(0,0,0,.5);
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	transition: background-color 0.3s;
	
}
.bg:hover .fader {
	background-color: rgba(0,0,0,.2);
}
.bg:hover span {
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.each-theme span {
	font-size: 25px;
	font-weight: 700;
	font-family: 'Philosopher';
	display: inline-block;
	vertical-align: middle;
	line-height: 30px;
	color: white;
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
	-webkit-transition: text-shadow 0.3s;
	-moz-transition: text-shadow 0.3s;
	transition: text-shadow 0.3s;
}