.tour-container {
	width: 80%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.tour-bg {
	position: absolute;
	top: 0;
	width: 100%;
	height: 400px;
	z-index: 5;
	border-radius: 10px;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}
.tour-content {
	position: relative;
	z-index: 10;
	padding: 75px 10% 0px 10%;
	font-family: 'Roboto Condensed';
	/*margin-top: 50px;*/
background: rgba(255,255,255,.5); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,.5) 0%, rgba(255,255,255,1) 40%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.5)), color-stop(40%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,.5) 0%,rgba(255,255,255,1) 40%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,.5) 0%,rgba(255,255,255,1) 40%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,.5) 0%,rgba(255,255,255,1) 40%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,.5) 0%,rgba(255,255,255,1) 40%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(255,255,255,.5)', endColorstr='rgba(255,255,255,1)',GradientType=0 ); /* IE6-9 */
}
